attrs==17.4.0
beautifulsoup4==4.6.0
bs4==0.0.1
certifi==2018.1.18
chardet==3.0.4
enum34==1.1.6
flatbuffers==2015.12.22.1
freezegun==0.3.9
funcsigs==1.0.2
futures==3.2.0
grpc==0.3.post19
grpcio==1.11.0
iniparse==0.4
kitchen==1.2.4
msgpack-python==0.5.6
pluggy==0.6.0
protobuf==3.5.2.post1
py==1.5.2
pycurl==7.43.0
pygpgme==0.3
pyliblzma==0.5.3
pytest==3.3.2
python-dateutil==2.6.1
pyxattr==0.5.3
rpm==4.14.1
six==1.11.0
urlgrabber==3.10.1
yum-metadata-parser==1.1.4
